@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: "Shadows Into Light", cursive;
}


body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    color: var(--text-dark);
}

img {
    max-width: 100%;
    display: block;
}

header, main, footer {
    padding: 1rem;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 50px;
    margin-right: 1rem;
}

.search {
    display: flex;
    margin-bottom: 1rem;
}

.search input {
    flex-grow: 1;
    padding: 0.5rem;
}

.search button {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

.recipe {
    border: 1px solid #ddd;
    padding: 1rem;
}

.recipe .description {
    display: none;
}

.rating {
    font-size: 1.2rem;
}

footer {
    text-align: center;
    font-size: 0.8em;
}

footer .attribution a {
    font-size: 0.6em;
}

.social img{
    height: 30px;
    padding: 5px;
}

@media (min-width: 600px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }

    .search {
        flex-basis: 100%;
    }

    .recipe {
        flex-basis: 50%;
        box-sizing: border-box;
        padding: 1rem;
    }

    .recipe .description {
        display: block;
    }
}

@media (min-width: 960px) {
    .recipe {
        flex-basis: 33.33%;
    }
}