@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap');

:root {
    --primary-color: #3A5562;
    --secondary-color: #5A5028;
    --text-dark: #111111;
    --text-light: #FFFFFF;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Shadows Into Light", cursive;
    --third-font: "Shadows Into Light Two", cursive;
}

/* Links */
a {
    color: #d8e1e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Body */
body {
    font-family: var(--primary-font);
    background-color: var(--text-light);
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 1em;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    max-width: 50px;
    margin-right: 10px;
}

header h1 {
    font-family: var(--secondary-font);
    margin: 0;
}

/* Search */
.search {
    display: flex;
    justify-content: center;
    margin: 1em auto;
    max-width: 80%;
}

.search input {
    flex-grow: 1;
    padding: 0.5em;
    font-size: 1em;
    max-width: 70%;
}

.search button {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: var(--secondary-color);
    color: var(--text-light);
    border: none;
    cursor: pointer;
}

.search button:focus, .search input:focus {
    outline: 2px solid var(--primary-color);
}

/* Recipes Container */
#recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--text-light);
    border: 1px solid var(--primary-color);
    margin: 1em;
    padding: 1em;
    max-width: 300px;
    text-align: center;
}

.recipe img {
    max-width: 100%;
    transition: max-width 0.3s ease;
    height: auto;
}

.recipe h2 {
    font-family: var(--secondary-font);
}

.recipe-details {
    width: 100%;
}

.rating {
    margin: 0.5em 0;
}

.icon-star {
    color: gold;
}

.icon-star-empty {
    color: lightgray;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 1em;
    font-size: 0.6em;
}

footer .attribution {
    font-family: var(--third-font);
    margin-bottom: 1em;
}

.social img {
    max-width: 30px;
    margin: 0 0.5em;
}

/* Media Queries */
@media (min-width: 960px) {
    #recipes-container {
        max-width: 960px;
        margin: 0 auto;
    }
}