@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
    --primary-color: #4A6572;
    --secondary-color: #f1e1a0;
    --text-dark: #333333;
    --text-light: #FFFFFF;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Shadows Into Light", cursive;
}

a {
    color: #89A6B8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: var(--primary-font);
    color: var(--text-dark);
    background-color: var(--text-light);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 1em;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    max-width: 50px;
    margin-right: 10px;
}

header h1 {
    font-family: var(--secondary-font);
    margin: 0;
}

.search {
    display: flex;
    justify-content: center;
    margin: 1em auto;
    max-width: 80%;
}

.search input {
    flex-grow: 1;
    padding: 0.5em;
    font-size: 1em;
    max-width: 70%;
}

.search button {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: var(--secondary-color);
    color: var(--text-light);
    border: none;
    cursor: pointer;
}

.search button:focus {
    outline: 2px solid var(--primary-color);
}

.tag-filters {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    flex-wrap: wrap;
}

.tag-filters button {
    padding: 0.5em 1em;
    margin: 0.5em;
    background-color: #ddd;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.tag-filters button:hover,
.tag-filters button.active {
    background-color: var(--primary-color);
    color: var(--text-light);
}

.tag-filters button.active {
    background-color: var(--primary-color);
    color: var(--text-light);
}

#recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe {
    display: flex;
    flex-direction: column; /* Always stack vertically */
    align-items: center;
    background-color: var(--text-light);
    border: 1px solid var(--primary-color);
    margin: 1em;
    padding: 1em;
    max-width: 300px;
    text-align: center;
}

.recipe img {
    max-width: 100%;
    transition: max-width 0.3s ease;
}

.recipe h2 {
    font-family: var(--secondary-font);
}

.recipe-details {
    width: 100%;
}

.rating {
    margin: 0.5em 0;
}

.icon-star {
    color: gold;
}

.icon-star-empty {
    color: lightgray;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 1em;
    font-size: 0.6em;
}

footer .attribution {
    margin-bottom: 1em;
}

.social img {
    max-width: 30px;
    margin: 0 0.5em;
}

/* Removed media queries for row layout */

@media (min-width: 960px) {
    #recipes-container {
        max-width: 960px;
        margin: 0 auto;
    }
}