@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
    --primary-color: #2c3e50;
    --secondary-color: #ecf0f1;
    --accent-color: #e74c3c;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: 'Mooli', sans-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    color: var(--text-dark);
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    color: var(--accent-color);
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

header,
footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-family: var(--secondary-font);
    font-size: 2em;
    margin: 0;
}

main {
    padding: 1rem;
}

h2 {
    margin-top: 0;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul.hide {
    display: none;
}

nav ul.visible {
    display: block;
}

nav ul li {
    margin: 0.5rem 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-light);
}

#menu-button {
    background-color: transparent;
    border: none;
    color: var(--text-light);
    cursor: pointer;
}

.viewer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    z-index: 10;
}

.viewer.hide {
    display: none;
}

/* query for medium screens */
@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

/* query for large screens */
@media screen and (min-width: 1000px) {
    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        margin: 0 1rem;
    }
    
    #menu-button {
        display: none;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
    }

    main {
        padding: 1rem;
    }
}