@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto+Slab:wght@100..900&family=Shadows+Into+Light&display=swap');

:root {
    --primary-color: #463f3a;
    --secondary-color: #f4f3ee;
    --accent-color-1: #f4acb7;
    --accent-color-2: #EFE4E0;
    --dark-color: #5E6472;
}

body {
    font-family: 'Roboto Slab', serif;
    color: var(--primary-color);
    margin: 0;
    background-color: var(--secondary-color);
}

h1, h2, h3 {
    font-family: 'Prompt', sans-serif;
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

header {
    background-color: var(--accent-color-1);
    padding: 20px;
}

header h1 {
    text-align: center;
    font-size: 2em;
    padding-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: end;
    justify-items: end;
    border-top: 1px solid var(--dark-color);
    border-bottom: 1px solid var(--dark-color);
    padding: 10px 0;
    height: 50px;
    line-height: 50px;
}

nav li {
    text-align: center;
}

nav a {
    font-size: 1.2em;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

article {
    border: 1px solid var(--dark-color);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    background-color: var(--accent-color-2);
}

.article-content h2 {
    color: var(--primary-color);
}

.article-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.article-details p {
    margin: 0;
    font-size: .9em;
    color: var(--primary-color);
}

.article-content img {
    max-width: 100%;
    height: auto;
}

.article-content h2 {
    color: var(--primary-color);
}

.filter {
    border: 1px solid var(--dark-color);
    padding: 20px;
}

footer {
    background-color: var(--accent-color-1);
    text-align: center;
    padding: 10px;
}

.skiptocontent a {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: var(--primary-color);
    color: var(--dark-color);
    padding: 8px;
    border: 1px solid var(--dark-color);
    z-index: 10;
    transition: top 0.3s ease;
}

.skiptocontent a:focus {
    top: 0;
}