body {
    font-family: "Time New Roman", serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
    color: black;
}

body.dark {
    background-color: #333;
    color: white;
}

header {
    margin: 20px 0;
}

h1 {
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    color: #006EB6;
}

body.dark h2 {
    color: #76BFFF;
}

main {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

main p {
    margin: 20px 0;
}

main ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    margin-top: 30px;
}

footer img {
    width: 150px;
    height: auto;
}